

.container-reviews-search-to-do {
    margin-left: 15%;
    margin-top: 5%;
}

.results-search {
    color: #fff;
    font-family: "Teko", sans-serif;
}

.results-search h2{
    font-size: 46px;
    margin-left: 30%;
}
