a, u {
    text-decoration: none;
}

body {
    overflow: hidden;
}

.containers-block-to-do {
    background-color: rgba(242, 242, 242, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 1300px;
    height: 800px;
    justify-content: space-around;
    box-shadow: 0 0 5px 2px #437cf8, 0 0 6px 3px #244cfd, 0 0 12px 4px #437cf8, 0 0 20px 6px #244cfd;
    margin-top: 3%;
    margin-left: 15%;
}

.button-to-do a {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.1);
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Beer Money', sans-serif;
    box-shadow: 0 0 2px 1px #ffffff, 0 0 3px 2px #787a80; /* Уменьшаем размер тени */
    margin-right: 20px; /* Добавляем отступ между кнопками */
}

.text-top {
    font-family: 'Beer Money', sans-serif;
    font-size: 36px;
    color: #fff;
    margin-left: 38%;
    margin-top: -25pt;
}

.line {
    border-bottom: 2px solid #fff;
    width: 1300px;
    color: #fff;
    margin-left: -15pt;
}

/* To-Do карта пользователя */
.container-reviews-to-do {
    background-color: rgba(242, 242, 242, 0.1);
    font-family: "Teko", sans-serif;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 250px;
    width: calc(30.33% - 20px);
    margin: 140px;
    justify-content: space-around;
    box-shadow: 0 0 5px 2px #e6e6e6, 0 0 6px 3px #8f919b, 0 0 12px 4px #e6e6e6, 0 0 20px 6px #8f919b;
    margin-top: -5%;
    margin-left: -8%;
    transition: 1s;
    z-index: 1;
}

.container-reviews-to-do:hover{
    transform: scale(1.1);
}

.card-to-do-user {
    font-family: "Teko", sans-serif;
    color: #fff;
    font-size: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 13%;
    margin-top:8%;
}

.showing-text-to-do {
    font-size: 16px;
    overflow: hidden;
    white-space: normal;
    width: 200px;
    height: 130px;
    text-overflow: ellipsis;
}

.photo-reviews-to-do {
    background: rgba(0, 0, 0, 0.01);
    width: 66px;
    height: 65px;
    border-radius: 50%;
    margin: 30px auto;
    opacity: 1;
    transition: opacity 2s;
    margin-left: -10px;
    margin-top: -10px;
}

.avatar {
    width: 66px;
    height: 65px;
    border-radius: 50%; /* Делает изображение круглым */
    object-fit: cover; /* Подгоняет изображение под размеры */
}

.line-to-do {
    border-bottom: 2px solid #fff;
    width: 160px;
    color: #fff;
    margin-left: 60px;
}

.showing-text-to-do {
    margin-top: 35px;
    color: #fff;
    display: block;
}

.name-to-do {
    font-size: 24px;
    margin-left: 80px;
    margin-top: -80px;
    color: #fff;
}


.button-reviews-to-do {
    margin-left: 46%;
    margin-top: 11%;
    transition: 1s;
}

#button-create-to-do{
    margin-left:  650pt;
}

/* хедер ниже */
.logo-header{
    margin-top: 2%;
}

.icons-header{
    margin-top: 2%;
}

.buttons-header {
    margin-top: 2%;
}

.button-delete {
    appearance: none;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.1);
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Beer Money', sans-serif;
    box-shadow: 0 0 2px 1px #7a1111, 0 0 3px 2px #db0505; /* Уменьшаем размер тени */
}
/* Пагинация */

#id_description {
    white-space: pre-line; /* Используйте pre-line вместо pre-wrap */
    word-wrap: break-word;
    overflow-wrap: break-word; /* Дополнительное свойство для переноса текста */
}