<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main/css/main.css">
    <link rel="stylesheet" href="static/main/css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Home - About Us</title>
</head>
<body>
    <header>
        <div class="logo-header">
            <a href="#" style="color: white">
                <img src="static/main/icons/house-icon.png" class="icon-header" alt="Home-header">
                Home
            </a>
        </div>
        <div class="icons-header">
            <div class="discord-header">
                <a href="https://discordapp.com/users/328144187809857536/" id="discord" class="icon">
                    <img src="static/main/icons/discord-icon.png">
            </div>
            <div class="telegram-header">
                <a href="https://t.me/qxzxbtlqq" id="telegram" class="icon">
                    <img src="static/main/icons/telegram-icon.png">
            </div>
            <div class="vk-header">
                <a href="https://vk.com/xxzxbtl" id="vk" class="icon">
                    <img src="static/main/icons/vk-icon.png">
            </div>
        </div>
        <div class="buttons-header" id="header-links">
            <a href="#" style="color: white;">To-Do</a>
            <a href="#" style="color: white;">Weather</a>
            <a href="#" style="color: white;">Enter</a>
            <a href="#" style="color: white;">Reviews</a>
            <a href="#" style="color: white;">Profile</a>
            <div class="reviews-menu">
                <div class="dropdown">
                    <a href="#" id="menu" class="icon">
                        <img src="static/main/icons/menu-icon.png" class="menu-header" alt="Menu-header">
                    </a>
                    <div class="dropdown-content" id="dropdown-links">
                        <a href="#">About</a>
                        <a href="#">Reviews</a>
                        <a href="#">Exit</a>
                        <a href="#">Weather</a>
                        <a href="#">To-Do</a>
                        <a href="#">Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="text-about">
            <h1>About <span>Us</span></h1>
            <h2>The blocks contain a brief functionality of the site</h2>
            <p></p>
        </div>
        
        <div class="all-containers">
            <div class="container-reviews">
                <div class="photo-reviews" style="background-image: url('static/main/images/to-do.png')"></div>
                <div class="name">To-Do</div>
                <div class="line"></div>
                <p class="showing-text">You can make your to-do list or share it with others.</p>
            </div>
            <div class="container-reviews">
                <div class="photo-reviews" style="background-image: url('static/main/images/weather.png')"></div>
                <div class="name">Weather</div>
                <div class="line"></div>
                <p class="showing-text">Complete weather forecast for your city in a convenient and beautiful way.</p>
            </div>
            <div class="container-reviews">
                <div class="photo-reviews" style="background-image: url('static/main/images/portfolio.png')"></div>
                <div class="name">Portfolio</div>
                <div class="line"></div>
                <p class="showing-text">Is my portfolio or your portfolio posted on the site, perhaps a designer of your portfolios?...</p>
            </div>
        </div>
        <div class="button-reviews">
            <a href="#" type="button">Question?</a>
        </div>

    </main>
</body>
</html>