{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        <div class="block-authorize">
            <h1 class="text-authorize">Registration</h1>
                <form action="{% url 'user:registration' %}" method="post">
                    {% csrf_token %}
                    <div class="username-menu">
                        <label for="id_username" class="form-label" style="margin-top: 10%;">Username</label>
                        <input type="text" class="form-control" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                               id="id_username" name="username" placeholder="Input username" required>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="password-menu">
                        <label for="id_password1" class="form-label">Password</label>
                        <input type="password" class="form-control" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                               id="id_password1" name="password1" placeholder="Input password" required>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="confirmpassword-menu">
                        <label for="id_password2" class="form-label" style="margin-top: 1%; margin-left: 7%;">Confirm Password</label>
                        <input type="password" class="form-control" value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                               id="id_password2" name="password2" placeholder="Confirm Password" required style="margin-left: 4%;">
                        {% if form.password2.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="email-menu" style="margin-left: 3%;">
                        <label for="id_email" class="form-label" style="margin-left: 3%; margin-top: 1%;">Email</label>
                        <input type="email" class="form-control" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                               id="id_email" name="email" placeholder="Input your email *youremail@example.com" required>
                        {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="button-enter" style="cursor: pointer;"><b>Enter</b></button>
                </form>
            <div class="forget-password-menu">
                <a href="{% url 'user:login' %}">Have account?</a> | <a href="login.html">Enter in Account</a>
            </div>
        </div>
    </main>
{% endblock %}

