{% extends "base.html" %}
{% load static %}
{% load reviews_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/to-do.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Home - Reviews</title>
{% endblock %}
{% block content %}
        <main>
            <div class="row">
                {% for review in reviews %}
                    <div class="block-reviews">
                            <div class="review">
                                    {% if review.user.image %}
                                        <img class="avatar" src="{{ review.user.image.url }}" alt="Avatar">
                                            <a href="{% url 'reviews:reviewcart' review.user.username review.id %}">
                                    {% else %}
                                        <img class="avatar" src="{% static 'main/images/baseavatar.jpg' %}" alt="Avatar">
                                            <a href="{% url 'reviews:reviewcart' review.user.username review.id %}">
                                    {% endif %}
                                    <div>
                                        <p class="username">{{ review.user.username }}</p>
                                        <p class="text">
                                            {% autoescape off %}
                                                {% if review.bodyline %}
                                                    {{ review.bodyline|truncatechars:100 }}
                                                {% else %}
                                                    {{ review.description|truncatechars:180 }}
                                                {% endif %}
                                            {% endautoescape %}
                                        </p>
                                    </div>
                                </a>
                            </div>
                    </div>
                {% endfor %}
            </div>
                <div class="buttton-delete-block" style="margin-top: -10%; margin-left: 2%">
                    {% if user.is_authenticated %}
                        <a href="{% url 'reviews:reviewscreate' %}" class="button-delete" type="button" id="button-your" style="cursor: pointer; margin-left: 45%; ">Create</a>
                    {% endif %}
                </div>
        </main>
    <!-- Добавьте другие отзывы здесь по аналогии -->
    {% if reviews %}
        <nav aria-label="Page navigation example" style="margin-top: 35%;margin-left: -2%;">
            <ul class="pagination justify-content-center my-4">
                <div class="custom-shadow d-flex">
                    <li class="page-item {% if not reviews.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="{% if reviews.has_previous %}?{% change_params page=reviews.previous_page_number %}{% else %} # {% endif %}">Previous</a>
                    </li>
                    {% for page in reviews.paginator.page_range %}
                        {% if page >= reviews.number|add:-2 and page <= reviews.number|add:2 %}
                            <li class="page-item {% if reviews.number == page %} active {% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not reviews.has_next %} disabled {% endif %}">
                        <a class="page-link" href="{% if reviews.has_next %}?{% change_params page=reviews.next_page_number %}{% else %} # {% endif %}">Next</a>
                    </li>
                </div>
            </ul>
        </nav>
    {% endif %}
{% endblock %}